---
- name: Nginx is installed
  apt: pkg=nginx state=installed update_cache=false
#  apt: pkg=mysql-server state=installed update_cache=true  

- name: Git is installed
  apt: pkg=git state=installed
  
- name: Install PHP5-FPM
  apt:
    name: "{{ item }}"
    state: latest
#    update_cache: yes
    update_cache: no    
  with_items: "{{ ubuntu_php_pkgs }}"

- name: Copy PHP config files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
  with_items:
    - { src: 'www.conf.j2', dest: '/etc/php5/fpm/pool.d/www.conf' }
    - { src: 'php.ini.j2', dest: '/etc/php5/fpm/php.ini' }
  notify:
    - Restart PHP5-FPM  
    
- name: Copy Nginx config file
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}" 
  with_items:
    - { src: 'nginx.conf.j2', dest: '/etc/nginx/nginx.conf' }
  notify:
    - Restart Nginx

- name: Disable Nginx default virtual host
  file:
    src: "{{ item.src | default(omit) }}"
    dest: "{{ item.dest }}"
    state: "{{ item.state }}"
  with_items:
    - { dest: '/etc/nginx/sites-enabled/default', state: 'absent' }
    - { dest: '/var/www/html/index.nginx-debian.html', state: 'absent' }
  notify:
    - Restart Nginx    
  
